/* Minimal CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --blue-color:rgb(45, 103, 189);
    --grey-color:rgb(216, 216, 216);
  }

  html, body {
    height: 100%;
    width: 100%;
    font-size: 24px;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 90%;
    font-family: sans-serif;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 1rem 8rem;
}

#addBookBtn {
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addBookBtn:hover {
    background-color: rgb(223, 223, 223);;
}

.header span {
    font-weight: bold;
    font-size: 2rem;
}

.book-list {
    background-color:rgb(236, 236, 236) ;

}