/* Minimal CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --blue-color:rgb(45, 103, 189);
    --grey-color:rgb(216, 216, 216);
  }

  html, body {
    height: 100%;
    width: 100%;
    font-size: 24px;

  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
body {
    display: grid;
    grid-template-rows: 10% 90%;
    font-family: sans-serif;
    font-size: 20px;
    overflow: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 1rem 8rem;
}

#addBookBtn {
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addBookBtn:hover {
    background-color: rgb(223, 223, 223);;
}

.header span {
    font-weight: bold;
    font-size: 2rem;
}

.book-list {
    background-color:rgb(236, 236, 236);

}

dialog {
  margin: auto;
  padding: 1.3rem;
  border:0px;
  border-radius: 20px;
  text-align: center;
  background-color:rgb(236, 236, 236) ;

}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color:rgb(236, 236, 236) ;
}

form > p {
  font-size:1.2rem;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border:none;
  border-radius: 10px;
}

::backdrop {
  opacity: 0.5;
  background-color:rgb(0, 0, 0);
}


input:focus {
  outline: 1px solid rgb(141, 141, 141);
}

.isRead {
  display: flex;
  gap: 10px;
  margin: 0 10%;
  font-weight: bold;
}

input[type="checkbox"]{
  outline: none;
  border:none;
  transform: scale(1.6);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


#confirmBtn {
  background-color:#9fff9c;
}

#cancelBtn {
  background-color: #ff9c9c;
}

form button {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

form button:hover {
  cursor: pointer;
}

#confirmBtn:hover {
  background-color:#96f093;
}

#cancelBtn:hover {
  background-color: #eb8f8f;
}

.book-list {
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-template-rows: repeat(auto-fill,300px);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  justify-content: space-between;
}

.card #deleteBtn,
.card #isReadBtn {
  padding: 10px;
  border: none;
  cursor:pointer;
  border-radius:10px ;
}

.card #deleteBtn {
  background-color: rgb(231, 231, 231);
}

.card #deleteBtn:hover{
  background-color:rgb(212, 212, 212);
}

.read {
  background-color: #9fff9c;
}

.read:hover {
  background-color: #90e68d;
}

.not-read {
  background-color:#ff9c9c
}


.not-read:hover {
  background-color:#e08a8a
}

.error {
  font-size: 0.85rem;
  color: red;
  font-weight: bold;
  height:20px;
  margin-top: -8px;
}